@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  transform: scale(1.5);
}

@media (max-width: 600px) {
  img {
    transform: none; /* 移动端时取消放大效果 */
  }
}
