@tailwind base;
@tailwind components;
@tailwind utilities;
/* 对不同设备宽度应用样式 */
/* 超小型设备（手机）*/
@media (max-width: 575.98px) {
  /* 样式规则 */
}

/* 小型设备（平板） */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* 样式规则 */
}

/* 中型设备（小型台式机） */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* 样式规则 */
}

/* 大型设备（大型台式机及以上） */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* 样式规则 */
}

/* 超大型设备（大型台式机及以上） */
@media (min-width: 1200px) {
  /* 样式规则 */
}
/* 调整字体大小和布局 */
@media (max-width: 768px) {
  /* 在小屏幕上应用的样式 */
  body {
    font-size: 14px;
  }

  /* 调整布局或隐藏元素 */
  .sidebar {
    display: none;
  }
}

/* 根据不同设备宽度调整布局 */
@media (max-width: 480px) {
  /* 重新排列或隐藏特定元素 */
  .menu {
    flex-direction: column;
  }

  .menu-item {
    margin-bottom: 10px;
  }
}

/* 调整图片大小 */
@media (max-width: 992px) {
  img {
    max-width: 100%;
    height: auto;
  }
}
