@tailwind base;
@tailwind components;
@tailwind utilities;
/* Assuming this is in a file like styles/globals.css or in a CSS module */


/* 全屏按钮 */
video::-webkit-media-controls-fullscreen-button {
    display: none;
}

/* 播放按钮 */
video::-webkit-media-controls-play-button {
    display: none;
}

/* 进度条 */
video::-webkit-media-controls-timeline {
    display: none;
}

/* 观看的当前时间 */
video::-webkit-media-controls-current-time-display {
    display: none;            
}

/* 剩余时间 */
video::-webkit-media-controls-time-remaining-display {
    display: none;            
}


/* 字幕按钮 */
video::-webkit-media-controls-toggle-closed-captions-button {
    display: none;            
}

/* 音量的控制条 */
video::-webkit-media-controls-volume-slider {
    display: block; /* 允许音量控制条显示 */
}


